<br>
<h3>Editar Usuario</h3>
<form [formGroup]="usuarioForm" (ngSubmit)="guardarUsuario()">
  <div class="form-group">
    <label>Nombre de usuario</label>
    <input type="text" class="form-control" formControlName="username">
    <div *ngIf="username.invalid && (username.dirty || username.touched)">
      <small class="text-danger" *ngIf="username.errors.required">
        El nombre de usuario es requerido
      </small>
    </div>
  </div>
  <div class="form-group">
    <label>Nombre completo</label>
    <input type="text" class="form-control" formControlName="nombre">
    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
      <small class="text-danger" *ngIf="nombre.errors.required">
        El nombre es requerido
      </small>
    </div>
  </div>
  <div class="form-group">
    <label>Mail</label>
    <input type="mail" class="form-control" formControlName="mail">
    <div *ngIf="mail.invalid && (mail.dirty || mail.touched)">
      <small class="text-danger">
        Mail inválido
      </small>
    </div>
  </div>
  <button type="submit" class="btn btn-primary pull-right">Guardar</button>
</form>
