<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <h3 class="fadeIn first" style="margin-top: .5em; margin-bottom: 10px;">Login</h3>

    <app-notification-display></app-notification-display>
    <!-- Login Form -->
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <input type="text" id="usuario" class="fadeIn second" placeholder="Usuario" formControlName="usuario">
      <div *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
        <small class="text-danger" *ngIf="usuario.errors.required">
          El usuario es requerido
        </small>
      </div>
      <input type="password" id="password" class="fadeIn third" placeholder="Contraseña" formControlName="password">
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <small class="text-danger" *ngIf="password.errors.required">
          La contraseña es requerida
        </small>
      </div>
      <input type="submit" class="fadeIn fourth" value="Ingresar">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
    </div>

  </div>
</div>
