.column {
  background-color: #E2E4E6;
  border-radius: 3px;
  width: 270px;
  margin-left: 10px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
}
.column h4 {
  color: #4d4d4d;
  line-height: 100%;
  margin-left: 10px;
  margin-top: 8px;
  font-weight: 700;
  line-height: 18px;
  font-size: 14px;
  margin-bottom: 3px;
  height: 18px;
  width: 260px;
  display: inline-block;
  cursor: pointer;
  cursor: hand;
}
.column-header {
  cursor: pointer;
  cursor: hand;
}
.add-card {
  color: #999;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  padding: 8px 10px;
  cursor: pointer;
  transition-property: all;
  transition-duration: 150ms;
  transition-timing-function: ease;
}
.add-card:hover {
  text-decoration: underline;
  color: #666;
  background-color: #ccc;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.add-card input {
  margin-left: -5px;
  line-height: 18px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  padding: 5px 5px 4px 5px;
  width: calc(100% - 10px);
}
ul.card-list {
  padding: 31px 11px 32px 9px;
  margin: -26px 0 -31px 0;
}
ul.card-list > li {
  list-style: none;
}