<div class="column" [attr.column-id]="column.id" [attr.column-order]="column.order">
    <div class="column-header">
        <h4 [innerHtml]="column.name" [style.display]="editingColumn ?'none' : '' " (click)="editColumn()"></h4>
        <div [style.display]="editingColumn ?'' : 'none'" style="width: calc(95%); margin-left:5px;">
            <form [formGroup]="columnForm" (ngSubmit)="updateColumn()">
                <div class="row mt-1">
                    <div class="col-sm-12">
                        <input class="form-control field" placeholder="Título" formControlName="name" />
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-12">
                        <ng-select [items]="tipos" class="field" placeholder="Seleccionar tipo" bindValue="id" bindLabel="text"
                            formControlName="type">
                        </ng-select>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-12">
                        <div class="d-flex flex-row-reverse">
                            <button (click)="archive(column)" class="btn btn-danger" title="Archivar"><fa name="archive"></fa></button>
                            <button (click)="cleadAddColumn()" class="btn btn-primary mr-1" title="Cancelar"><fa name="times"></fa></button>
                            <button [disabled]="!columnForm.valid" class="btn btn-success mr-1" title="Guardar"><fa name="check"></fa></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ul class="card-list" [attr.column-id]="column.id">
        <li *ngFor="let card of cards | where : { columnId: column.id } | orderBy : 'order'">
            <app-gtm-card [card]="card" *ngIf="!card.archived"></app-gtm-card>
        </li>
    </ul>
    <div class="add-card" (click)="enableAddCard()">
        <span [style.display]="addingCard ? 'none' : ''">
            Agregar tarjeta...
        </span>

        <input [style.display]="addingCard ? '' : 'none' " [attr.autofocus]="addingCard"
            (keyup)="addCardOnEnter($event)" (blur)="addCardOnBlur()" [(ngModel)]="addCardText" />
    </div>
</div>