<br>
<h3>Usuarios</h3>
<div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight"><a [routerLink]="['/admin/usuarios/edit']" class="btn btn-success"><fa name="plus"></fa> Agregar</a></div>
      </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre de usuario</th>
            <th scope="col">Nombre</th>
            <th scope="col">Mail</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; index as i">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.mail }}</td>
            <td><a [routerLink]="['/admin/usuarios/edit/', user.id]"><fa name="edit"></fa></a></td>
        </tr>
    </tbody>
</table>