<div *ngIf="board" class="board-title">
    <span [style.display]="editingTilte ? 'none' : ''" (click)="editTitle()">{{ board?.name }}</span>

    <input [style.display]="editingTilte ? '' : 'none' " (keyup)="blurOnEnter($event)" (blur)="updateBoard()"
        [(ngModel)]="board.name" />
</div>

<section *ngIf="board" id="main">
    <div *ngFor="let column of board.columns | orderBy : 'order'" class="sortable-column">
        <app-gtm-column *ngIf="!column.archived" [column]="column" (addedCard)="addCard($event)"
            (cardUpdate)="onCardUpdate($event)" [cards]="board.cards">
        </app-gtm-column>
    </div>
    <div class="add-column">
        <span (click)="enableAddColumn()" [style.display]="addingColumn ? 'none' : ''">Agregar columna...</span>
        <div [style.display]="addingColumn ? '' : 'none' ">
            <form [formGroup]="columnForm" (ngSubmit)="addColumn()">
                <div class="row mt-1">
                    <div class="col-sm-12">
                        <input class="form-control" placeholder="Título" formControlName="title" />
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-12">
                        <ng-select [items]="tipos" placeholder="Seleccionar tipo" bindValue="id" bindLabel="text" formControlName="type">
                        </ng-select>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-sm-12">
                        <div class="d-flex flex-row-reverse">
                            <button (click)="clearAddColumn()" class="btn btn-primary">Cancelar</button>
                            <button [disabled]="!columnForm.valid" class="btn btn-success mr-1">Ok</button>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</section>