<br>
<h3>Grupos</h3>
<div class="d-flex flex-row-reverse bd-highlight">
        <div class="p-2 bd-highlight"><a [routerLink]="['/admin/grupos/edit']" class="btn btn-success"><fa name="plus"></fa> Agregar</a></div>
      </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let grupo of groups; index as i">
            <td>{{ grupo.id }}</td>
            <td>{{ grupo.name }}</td>
            <td><a [routerLink]="['/admin/grupos/edit/', grupo.id]"><fa name="edit"></fa></a></td>
        </tr>
    </tbody>
</table>