<div class="modal-header">
    <h4 class="modal-title pull-left">Dialogo</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <tabset>
        <tab heading="Detalle">
            <div class="row">
                <div class="col-sm-12">
                    <form [formGroup]="tarjetaForm" (ngSubmit)="guardarTarjeta()">
                        <div *ngIf="!tarjetaForm.valid" class="alert alert-danger">
                            Existen campos inválidos
                        </div>
                        <div class="form-group">
                            <label>Título</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="form-group">
                            <label>Detalle</label>
                            <textarea class="form-control" formControlName="detail"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Usuario asignado</label>
                            <ng-select [items]="usuarios" class="field" placeholder="Seleccionar" bindValue="username"
                                bindLabel="nombre" formControlName="user">
                            </ng-select>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Horas estimadas</label>
                                    <input type="number" class="form-control" formControlName="estimatedTime">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label>Horas insumidas</label>
                                    <input type="number" class="form-control" formControlName="spentTime">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Fecha límite</label>
                            <input type="text" class="form-control" formControlName="deadline" bsDatepicker
                                [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY' }">
                        </div>

                        <div class="d-flex flex-row-reverse bd-highlight">
                            <button type="submit" class="btn btn-primary ml-1">Guardar</button>
                            <button type="button" class="btn btn-secondary ml-1" (click)="cancelar()">Cancelar</button>
                            <button type="button" class="btn btn-danger ml-1" (click)="archivar()">Archivar</button>
                        </div>
                    </form>
                </div>
            </div>
        </tab>

        <tab heading="Checklist">
            <h5>Checklist</h5>
            <div class="container my-3 p-1">
                <!-- style="max-height: 300px; overflow-y: scroll;" -->
                <div *ngFor="let item of checkitems">
                    <div class="row">
                        <div class="col-1 text-right">
                            <input type="checkbox" (click)="clickCheckItem(item)" [checked]="item.checked">
                        </div>
                        <div class="col-11">
                            <app-inline-edit [text]="item.description" (edit)="actualizarCheckitem(item, $event)">
                            </app-inline-edit>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-1 text-right">
                    </div>
                    <div class="col-11 rounded font-weight-bold p-1" style="background-color: #dadada;">
                        <app-inline-edit [text]="'Doble-Click para agregar item'" (edit)="crearCheckitem($event)"></app-inline-edit>
                    </div>
                </div>
            </div>

        </tab>

        <tab heading="Comentarios">
            <div class="container my-3 p-1" style="max-height: 300px; overflow-y: scroll;">
                <div *ngFor="let item of comentarios" class="media text-muted pt-3">
                    <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32"
                        xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false"
                        role="img" aria-label="Placeholder: 32x32">
                        <rect width="100%" height="100%" fill="#129921"></rect>
                    </svg>
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">@{{item.user}}</strong>
                        {{item.description}}
                    </p>
                </div>
            </div>
            <div>
                <form class="form" [formGroup]="comentarioForm" (ngSubmit)="guardarComentario()">
                    <div class="row">
                        <div class="col-sm-10">
                            <textarea class="form-control mb-2 mr-sm-2" formControlName="description"></textarea>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-primary mb-2">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>

        </tab>
        <tab heading="Historial">
            <div class="container my-3" style="max-height: 300px; overflow-y: scroll;">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="timeline">
                            <li *ngFor="let item of historial">
                                <ul class="list-group shadow-sm">
                                    <li class="list-group-item list-group-item-secondary font-weight-bold"
                                        style="color: #4d4d4d;">
                                        <span>
                                            <fa name="calendar"></fa> {{ item.fecha | date:'d/M/y' }}
                                        </span>
                                        <span class="float-right">
                                            <fa name="clock-o"></fa> {{ item.fecha | date:'mm:ss' }}
                                        </span>
                                    </li>
                                    <li class="list-group-item">Nuevo estado: <b>{{item.estado}}</b></li>
                                    <li class="list-group-item">Usuario: <b>{{item.usuario}}</b></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </tab>
    </tabset>
</div>