<li class="card" [attr.card-id]="card.id" [attr.card-order]="card.order" (click)="editCard(card)">
    <div [style.display]="editingCard ? 'none' : ''" class="row">
        <div class="col-sm-2">
            <span class="badge badge-pill badge-secondary" style="font-weight: bold;">#{{card.id}}</span>
        </div>
        <div *ngIf="card.user != null" class="col-sm-6">
            <fa name="user"></fa> {{card.user}}
        </div>

    </div>
    <div [style.display]="editingCard ? 'none' : ''" style="font-weight: bold;">
        {{card.name}}
    </div>
    <div [innerHtml]="card.detail" [style.display]="editingCard ? 'none' : ''"
        style="margin-top: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
    </div>
    <textarea [style.display]="editingCard ? '' : 'none' " (keydown)="blurOnEnter($event)" (blur)="updateCard()"
        [(ngModel)]="card.name"></textarea>
</li>