<div class="board" *ngIf="!updateBoard">
    <a [routerLink]="['/board', board.id]">
        <span class="title">
            <fa *ngIf="board.user != null" name="user"></fa><fa *ngIf="board.group != null" name="group"></fa> {{board?.name}}
        </span>
    </a>
    <div class="btn-group" class="pull-right" dropdown [dropup]="true">
        <span id="button-state-change" dropdownToggle style="padding: 1em; cursor: pointer;">
            <fa name="ellipsis-v"></fa>
        </span>
        <ul id="dropdown-state-change" *dropdownMenu class="dropdown-menu" role="menu"
            aria-labelledby="button-state-change">
            <li class="menuitem"><a class="dropdown-item" style="background: white; color: black;" href=""
                    (click)="archive(board)">
                    <fa name="archive"></fa> Archivar
                </a></li>
            <li class="menuitem"><a class="dropdown-item" style="background: white; color: black;" href=""
                    (click)="editBoard(board)">
                    <fa name="edit"></fa> Editar
                </a></li>
        </ul>
    </div>
</div>

<div class="board" *ngIf="updateBoard">
    <form [formGroup]="boardForm" (ngSubmit)="saveBoard()">
        <div class="row mt-1">
            <div class="col-sm-12">
                <input class="form-control" placeholder="Título" formControlName="name" />
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-sm-12">
                <div><b>Tipo de asignación</b></div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="general" formControlName="tipo">
                    <label class="form-check-label">General</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="grupo" formControlName="tipo">
                    <label class="form-check-label">Grupo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" value="usuario" formControlName="tipo">
                    <label class="form-check-label">Usuario</label>
                </div>
            </div>
        </div>
        <div class="row mt-1" *ngIf="boardForm.value.tipo == 'grupo'">
            <div class="col-sm-12">
                <ng-select [items]="grupos" placeholder="Seleccionar grupo" bindValue="id" bindLabel="name"
                    formControlName="group">
                </ng-select>
            </div>
        </div>
        <div class="row mt-1" *ngIf="boardForm.value.tipo == 'usuario'">
            <div class="col-sm-12">
                <ng-select [items]="usuarios" placeholder="Seleccionar usuario" bindValue="id" bindLabel="nombre"
                    formControlName="user">
                </ng-select>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-sm-12">
                <div class="d-flex flex-row-reverse">
                    <button (click)="clearEditBoard()" class="btn btn-primary">Cancelar</button>
                    <button [disabled]="!boardForm.valid" class="btn btn-success mr-1">Ok</button>
                </div>

            </div>
        </div>
    </form>
</div>