<div class="inline-edit">
    <div [hidden]="!isDisplay" (dblclick)="beginEdit(editText)">
        {{ text }}
    </div>
    <div [hidden]="isDisplay">
        <input #editText type="text" class="form-control"
            [value]="text" (keyup.enter)="editDone(editText)" (focusout)="editExit()">
    </div>
</div>
