<div class="boards-wrapper">
    <h2>Tableros</h2>
    <div id="boards">
        <ng-container *ngFor="let board of boards">
            <app-board-item *ngIf="!board.archived" [board]="board" (boardUpdate)="reload()"></app-board-item>
        </ng-container>

        <div class="board add-board">
            <span (click)="enableAddBoard()" *ngIf="!addingBoard">Crear un nuevo tablero...</span>
            <div *ngIf="addingBoard">
                <form [formGroup]="boardForm" (ngSubmit)="addBoard()">
                    <div class="row mt-1">
                        <div class="col-sm-12">
                            <input class="form-control" placeholder="Título" formControlName="name" />
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-sm-12">
                            <div><b>Tipo de asignación</b></div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="general" formControlName="tipo">
                                <label class="form-check-label">General</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="grupo" formControlName="tipo">
                                <label class="form-check-label">Grupo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" value="usuario" formControlName="tipo">
                                <label class="form-check-label">Usuario</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-1" *ngIf="boardForm.value.tipo == 'grupo'">
                        <div class="col-sm-12">
                            <ng-select [items]="grupos" placeholder="Seleccionar grupo" bindValue="id" bindLabel="name"
                                formControlName="group">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mt-1" *ngIf="boardForm.value.tipo == 'usuario'">
                        <div class="col-sm-12">
                            <ng-select [items]="usuarios" placeholder="Seleccionar usuario" bindValue="id"
                                bindLabel="nombre" formControlName="user">
                            </ng-select>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-sm-12">
                            <div class="d-flex flex-row-reverse">
                                <button (click)="clearAddBoard()" class="btn btn-primary">Cancelar</button>
                                <button [disabled]="!boardForm.valid" class="btn btn-success mr-1">Ok</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>