
.boards-wrapper {
  padding: 2em;
  width: 100%;
  background-color: white;
  min-height: calc(100% - 2em);
  display: inline-block;
}

h2 { 
  color: #333;
  font-weight: 700; 
  /*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif; */
  line-height: 20px;
  font-size: 12pt;
}

.add-board {
  background-color: #e2e4e6;
  color: #8c8c8c;
}