<br>
<h3>Editar Grupo</h3>
<form [formGroup]="grupoForm" (ngSubmit)="guardargrupo()">
  <div class="error"></div>
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Nombre del grupo">
    <small class="text-secondary">El nombre del grupo no se puede repetir</small>
    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <small class="text-danger" *ngIf="name.errors.required">
        El nombre es requerido
      </small>
    </div>
  </div>

  <div class="form-group">
    <label>Usuarios</label>
    <ng-select [items]="usuarios$ | async" (open)="findUsuarios()" [multiple]="true" class="field"
               placeholder="Seleccionar" bindValue="id" bindLabel="nombre"
               formControlName="users">
    </ng-select>
    <div *ngIf="users.invalid && (users.dirty || users.touched)">
      <small class="text-danger" *ngIf="users.errors.required">
        El grupo debe contener al menos un usuario
      </small>
    </div>
  </div>

  <button type="submit" class="btn btn-primary pull-right">Guardar</button>
</form>
