
header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  
  nav {
    background-color: #0067A3;
    padding: 5px;
    height: 40px;
  }
  
  nav a {
    float: left;  
    color: white; 
  }
  
  nav a.board-btn {
    background-color:#4590BC;
    width: 120px;
  }
  
  nav a.blogo {
    line-height: 30px;
    font-weight: bold;
    color:#7FB2D1;
    width: calc(100% - 300px);
    text-align: center;
    cursor: default;
    /*margin-top: -30px;*/
  }
  
  
  #content-wrapper {
    width: 100%;
    display: block;
    height: calc(100% - 40px);
    /*overflow: auto;*/
    padding-top: 40px;
  }