<html>
<body class="kanban">
    <header>
        <nav *ngIf="isLogged()">
            <a class="board-btn" [routerLink]="['/dashboard']"><fa name="paste"></fa> Tableros</a>
            <a class="board-btn ml-1" [routerLink]="['/admin/usuarios']"><fa name="users"></fa> Usuarios</a>
            <a class="blogo">Kanbanito</a>
            <a class="logout" (click)="logout()">Salir</a>
        </nav>
    </header>
    <div id="content-wrapper">
        <router-outlet></router-outlet>
    </div>
</body>
</html>